extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{projects.project_name}

        p #{projects.description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in projects.technologies
              li #{projects.technologies}
             
        a.btn-link(href=`${projects.live_link}`, target="_blank") Live Demo
        a.btn-link(href=`${projects.github_link}`) GitHub Repo

    .project-img-box.box

      img.project-img(src=`${projects.image_urls[1]}`, alt='')
      img.project-img(src=`${projects.image_urls[2]}`, alt='')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
